<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ .Page.Title }}</title>
        {{ $icon := resources.Get "favicon.ico" }}
        {{ $style := resources.Get "main.css" }}
        <link rel="icon" href="{{ $icon.RelPermalink }}" />
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

        <!-- TODO: meta info for embeds -->
    </head>

    <body>
        <!-- https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer -->
        <script>0</script>

        <div class="page">
            {{ partial "nav-bar" . }}

            <main>
                {{ block "main" . }}
                {{ end }}
            </main>
        </div>
    </body>
</html>
