<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ .Page.Title }}</title>

        <!-- TODO: meta info for embeds -->

        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
        {{ $icon := resources.Get "favicon.ico" }}
        {{ $style := resources.Get "main.css" }}
        <link rel="icon" href="{{ $icon.RelPermalink }}" />
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

    </head>

    <body>
        <div class="page">
            {{ partial "nav-bar" . }}

            <main>
                {{ block "main" . }}
                {{ end }}
            </main>
        </div>
    </body>
</html>
